body{

    font-family: 'Roboto', sans-serif;
}
button {
    background-color: rgb(96, 213, 221);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    text-align: center;
}
table {
    width: 90%;
    margin: auto;
    border: 1px solid rgb(25, 45, 135);
}
#displayHeader {
    text-align: center;
    background-color: rgb(72, 161, 132);
    color: white;
    font-style: italic;
}
#displayItems{
    text-align: center;
}
#displayItems tr, #displayItems td {
    text-align: center;
    border: 1px solid rgb(62, 175, 141);
}
#displayItems td {
    width: 25%;
}
#nonCrudButtons {
    margin-top: 5%;
}
#nonCrudButtons button {
    width: 370px;
}
#nonCrudControls {
    display: flex;
     margin-left: 5%;
     margin-bottom: 5%;
}
#nonCrudControls div {
    margin-right: 10%;
}
#updateId {
    color: darkred;
}
#formDiv {
    width: 50%;
    
}
#results {
    margin-top: 10%;
    position: relative;
}